.elements__vector {
  background-image: url("../../../../images/like_vector.svg");
  width: 22px;
  height: 19px;
  align-self: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.elements__vector:hover {
  opacity: 0.5;
  transition: opacity .2s linear;
}

.elements__vector:active {
  background-image: url("../../../../images/like_vector_active.svg");
  transition: background-image .2s linear;
}
