.popup__input-error {
    /* box-sizing: border-box;
    color: red;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    min-height: 36px;
    padding-top: 5px;
    width: 358px; */
    color: red;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.04;
    margin-top: 5px;
    min-height: 25px;
}
