.profile__info-triangle {
  width: 282px;
  height: 50px;
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .profile__info-triangle {
    width: 581px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__info-triangle {
    width: 150px;
  }
}
