.elements__trash {
  background-image: url("../../../images/Trash.svg");
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  background-repeat: no-repeat;
}

.elements__trash:hover {
  opacity: 0.6;
  transition: opacity .2s linear;
}
