.popup__close {
  background-image: url("../../../images/close_icon_1280.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: opacity .6s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .popup__close {
    background-image: url("../../../images/close_icon.svg");
    min-height: 20px;
    min-width: 20px;
    right: 0;
    top: -36px;
  }
}
