.profile__info-subtitle {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1280px) {
  .profile__info-subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }
}
